*{
    padding: 0;
    margin: 100;
}
#primeira{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
   
}
.header{
    width: 100px;
    background-color: black;
}